asn1crypto==1.5.1
cffi==1.17.1
cryptography==43.0.1
Django==5.1.1
django-tellme==0.7.3
idna==3.8
mysqlclient==2.2.4
pdfkit==1.0.0
Pillow==10.4.0

pycparser==2.22
PyMySQL==1.1.1
pytz==2024.1
six==1.16.0
